.App-background {
    background-image: url(./Background/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.App-logo {
    height: 20vmin;
    pointer-events: none;
}

.App-logonavbar {
    height: 5vmin;
    pointer-events: none;
}

.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-title {
    font-size: 48px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.App-link {
    color: white;
}

.App-logocontact {
    height: 5vmin;
    pointer-events: left;
}

.App-button {
    background-color: white; /* Blue */
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #0a566b;
    padding: 25px 50px;
    font-size: 12px;
    margin: 4px 2px;
    width: 80px;
    height: 15px;
    cursor: pointer;
    border-radius: 12px;
}

.link-style {
    text-decoration: none;
    font-weight: 700;
    font-size: medium;
}

